body {
    background-color: #f8f9fa; 
    color: #000000; 
}


.btn-primary {
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-primary:hover {
    background-color: #c82333;
    border-color: #bd2130;
}


.container {
    max-width: 500px; 
    margin-top: 4rem;
    padding: 2rem;
    background: #ffffff;
    border-radius: 8px;
    border: 1px solid #dee2e6;
}
