<div class="chart-container">
  <h3 class="mb-3">Histórico de Humor</h3>
  <div *ngIf="lineChartData[0].data.length > 0; else noData">
    <canvas baseChart
      [datasets]="lineChartData"
      [labels]="lineChartLabels"
      [options]="lineChartOptions"
      [type]="lineChartType">
    </canvas>
  </div>
  <ng-template #noData>
    <div class="alert alert-info">
      Não há dados de humor para exibir um gráfico. Adicione algumas entradas com uma avaliação de humor!
    </div>
  </ng-template>
</div>
